<div class="container">
  <br>
  <%= link_to 'Registrar Funcionário(a)', new_employee_admin_path, class: "btn btn-dark" %>
  
  <div class="form-control">
    <h1>Funcionários da PayNow</h1>

    <% @admins.each do |admin| %>
      <h4><%= link_to admin.name, employee_admin_path(admin), class: "text-dark" %></h4>
    <% end %>
  </div>
</div>
