
@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

$theme-colors: (
  $primary: #6d6d6d,
  $secondary: #b9c2c4,
  $success: #4f8e71,
  $info: #9d9d9d,
  $warning: #947f57,
  $danger: #c0505a,
  $light: #e8e8e8,
  $dark: #3d3d3d
);
